.product .product1 {
  display: flex;
  gap: 10px;
}
.product1 img {
  width:(25% - 10px)
  display: block;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.product .product2 {
  gap: 10px;
  display: flex;
}
.product2 img {
  width: (25% - 10px)
  display: block;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.product img {
  width: calc(25% - 10px)
 
}
.product {
  gap: 32px;
  padding: 20px;
}
.product nav {
  font-family: Encode Sans, sans-serif;
  font-size: 40px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}